<html>
<head>
	<title> About us </title>
</head>
<h2> As part of our mission to spread good vibes and help connect with blood donors, we want you to share things that matter to you most with your friends, family and anyone else around you. It’s important to us that you feel comfortable and trust us with your information when you use Save Life Connect services (the "Services"). Please take a few minutes to read this Privacy Policy, so that you understand what information we collect, what we do with it and why.

In general, we only collect information that allows us to provide you with our best Services. This includes, for example, simple tasks like allowing other users to see the name and picture you choose to show. It also helps us to keep our Services clear of fraud and Spam, and it allows us to get a unique understanding of what additional services may be useful to you, and all other purposes set out in this policy below.

Starting with Save Life Connect, all of Save Life Connect's core features are secured with end-to-end encryption: Save Life Connect calls, one-on-one messages, group messages, media sharing and secondary devices. This means that the encryption keys are stored only on the clients' devices and no one, not even Save Life Connect itself, has access 
<br><br>
Scope and consent
<br>
Before you start sharing good vibes, it’s important you understand that by using our Services, you give us consent to collect, use, disclose, and retain your personal information and other information but we will never read or listen to the content you are sharing privately. You can be sure that we will only use your information as described in this Policy.

By using the Service, you are also agreeing to our Terms of Use. Please make sure you read and agree with our Terms of Use if you want to use Save Life Connect.
</h2>
</html>