<html>
<head>
	<title> Terms & Conditions </title>
</head>
<p>
<h2>Software License and Service Agreement</h2>
This is a legal agreement ("this Agreement") between Savelife Foundation, Inc. ("Savelife" or the "Company" or "Save Life" "Save life Connect" "we" or "us" or "our" or other similar pronouns) and users ("you") of any services or features of Save Life Connect (hereinafter referred to as the "Software"),which are provided by the company. Please read the Agreement carefully and decide whether to accept it (a minor shall be accompanied by his or her legal guardian when accepting the Agreement). You are not allowed to download, install or use the Software or related services unless you accept all the terms and conditions of this Agreement. By accepting the Agreement, you are consenting to, and agreeing to be bound by the terms of this Agreement. We reserve all rights not expressly granted to you.

<h2>Acceptance of the Agreement</h2>
By creating a Save Life Connect account or by using Save Life Connect app (collectively, the "Service") you agree to be bound by (i) this Agreement, (ii) our Privacy Policy, and (iii) any terms disclosed to you and agreed by you if you purchase additional features, products or services we offer on the Service (collectively, “the Agreement”). If you do not accept and agree to be bound by all of the terms of this Agreement, please do not use the Service.

We may make changes to the Agreement and to the Service from time to time. We may do this for a variety of reasons including to reflect changes in or requirements of the law, new features, or changes in business practices. The most recent version of the Agreement will be posted on the Service and also on www.save.life, and you should regularly check for the most recent version. The most recent version is the version that applies. If the changes include material changes that affect your rights or obligations, we will notify you in advance of the changes by reasonable means, which could include notification through the Service or via email. If you continue to use the Service after the changes become effective, then you agree to the revised Agreement.

<h2>Eligibility</h2>
You must be at least 18 years of age to create an account on Save Life Connect and use the Service. If you are a minor please read this Agreement and other above-mentioned agreements with your legal guardian. By creating an account and using the Service, you represent and warrant that you can form a binding contract with Save Life Connect.

<h2>Your account</h2>
You can log in to Save Life Connect with your Facebook account. If you do so, you authorize us to access and use certain Facebook account information, including but not limited to your public Facebook profile and information about Facebook friends you share in common with other Save Life Connect users. For more information regarding the information we collect from you and how we use it, please consult our Privacy Policy.

You are responsible for maintaining the confidentiality of your login credentials you use to sign up for Save Life Connect, and you are solely responsible for all activities that occur under those credentials. If you think someone has gained access to your account, please immediately contact support@save.life.

<h2>Scope of License</h2>
Save Life Foundation, Inc grants you personal, non-transferable and non-exclusive right and license to use the Software on any mobile device that you own, provided that you accept all terms and conditions of the Agreement, including those updated or revised in the future (if any).

Rights reserved: All other rights not hereby licensed still belong to Save Life Foundation, Inc. You shall obtain separate written approval from Save Life Foundation, Inc when using other rights.

<h2>Restrictions</h2>
Without the prior written consent of Save Life Foundation, Inc, you may not and you agree not to:
<ul>

<li>(a) Reproduce the Software in whole or in part</li>
<li>(b) Sub-license, sell, assign, rent, lease, export, import, distribute or transfer or otherwise grant rights to any third party in the Software</li>
<li>(c) Undertake, arrange, permit or authorize the modification, creation of derivative works or improvements, translation, reverse engineering, decompiling, disassembling, decryption,emulation, hacking, discovery or attempted discovery of the source code or protocols of the Software or any part or features (except the extent permitted by law)</li>
<li>(d) Remove, obscure or alter any copyright notices or other proprietary notices included in the Software</li>
<li>(e) Use the Software or any part thereof for commercial purpose (including but not limited to any corporate website, government website, financial and educational institution website, business website, or other websites for earnings and profits),unless you have been licensed to.</li>
The restrictions contained herein apply equally to any updates to the Software that you may obtain. If you breach this restriction, you may be subject to prosecution and damages.
</ul>




</p>
</html>