
<html>
<head> 
	<meta charset="UTF-8">
	<title> Blood Donation Camp </title>

	 
</head>
<style>
body{background-color:#DAF7A6 ;}
#Main{  padding:30px;
 height:100%; 
width:100;
float: left ;
}
#nav a { padding:30px; 
	text-decoration:none; 
 	 width:200px; 
	list-style: none; 
 	font-size: 25px; 
	margin-left: 32px; 
	margin-top: 27px; 
	color:#353935; 
	font-weight:bold;
}
 #nav a:hover{ color:#F0FFFF;
		padding-down:2px;}
 

h2{ width:100px; 
	height:50px; 
	color:#1814C1 ;
	 font-family:Arial; 
	padding-left:10px; 
	float:left;
	 padding-top:5px; 
	font-size:20px;}



</style>
 
<body>

<h2 class="logo"> Blood Donation</h2>

<div id ="nav">
<center>	
			
	{% if user.is_authenticated %}
		<a href="{% url 'user_personal_details' %}"> Appointment Details </a>
		
		<a href="{% url 'user_logout' %}"> Logout </a>
	{% else %}
	<div class='Main'>
	     
		<a href="{% url 'home' %}"> Home </a>
		<a href="{% url 'user_signup' %}"> Sign Up </a>
		<a href="{% url 'user_login' %}"> Login </a>
		<a href="{% url 'user_resetpassword' %}"> Reset Password </a>
		<a href="{% url 'information' %}"> Information </a>
	     </div>
		
	{% endif %}
	</div>
	{% block content %} {% endblock %} 
</center>
</body>
</html>	