<html>
<head>
	<title> asda </title>
</head>
<style>
body{ background-color:#F2EFD3;}
p{ font-size:30px;}
</style>
<body>
<p>
<h2>
The blood service is concerned with the welfare of both the blood donor and the recipient (patient).  Donors are often asked not to donate blood for a period of time in the interests of their safety and/or that of the blood supply.

You should not give blood if
 your own health might suffer as a result. The first concern of the blood service is to ensure that blood donation does no harm to the blood donor. You should not donate blood if:

<ul>
<li>You are feeling unwell</li>

<li>You are anaemic</li>
<li>You are pregnant, have been pregnant within the last year or are breastfeeding</li>
<li>You have certain medical conditions, which might make you an unsuitable donor </li>
<li>You are taking certain medications, such as antibiotics.</li>
<li>You may be able to donate blood at a later time. In some cases, however, in order to protect your own health you will not be able to donate blood.</li>
<br><br>
You should not donate blood if it might cause harm to the patient who receives it. Blood can transmit life-threatening infections to patients who receive blood transfusions.
<br><br>
 You should not donate blood if:
<ul>
<li>You have or may recently have contracted a sexually transmitted disease, such as HIV or syphilis, that can be passed on to a patient who receives your blood.</li>
<li>Your lifestyle puts you at risk of contracting an infection that can be transmitted through your blood: for example, if you have more than one sexual partner or have sexual contact with prostitutes.</li>
<li>You have ever injected recreational, non-medicinal drugs</li>
<li>You have recently had a tattoo, skin scarification or ear or body piercing – your local blood service can tell you how long you must wait before giving blood</li>
<li>You have had sexual contact with anyone in the above categories.</li>
</ul>
 

</h2>
 
</p>
</body>
</html>