{% load static %}
<html>
<head>
	<title> Why should you donate blood </title>

<style>
img{width:20%;}
body{ background-color:#F2EFD3;}
p{ font-size:30px;}
p ul{}
</style>
<img src = "{% static 'images/donablo.png'%}">
<body>
<p>
Safe blood saves lives. Blood is needed by women with complications during pregnancy and childbirth, children with severe anaemia, often resulting from malaria or malnutrition, accident victims and surgical and cancer patients.

There is a constant need for a regular supply of blood because it can be stored only for a limited period of time before use. Regular blood donation by a sufficient number of healthy people is needed to ensure that blood will always be available whenever and wherever it is needed.

Blood is the most precious gift that anyone can give to another person – the gift of life. A decision to donate your blood can save a life, or even several if your blood is separated into its components – red cells, platelets and plasma – which can be used individually for patients with specific conditions.
You must register to donate blood. This includes providing identification, your medical history, and undergoing a quick physical examination. You’ll also be given some information about blood donation to read.

Once you’re ready, your blood donation procedure will begin. Whole blood donation is the most common type of donation. This is because it offers the most flexibility. It can be transfused as whole blood or separated into red cells, platelets, and plasma for different recipients.

For a whole blood donation procedure:

You’ll be seated in a reclining chair. You can donate blood either sitting or lying down.
A small area of your arm will be cleaned. A sterile needle will then be inserted.
You’ll remain seated or lying down while a pint of your blood is drawn. This takes 8 to 10 minutes.
When a pint of blood has been collected, a staff member will remove the needle and bandage your arm.

<br><br>
Other types of donation include:
<br><br>
&rarr;

platelet donation (plateletpheresis)

<br>
&rarr;
plasma donation (plasmapheresis)
<br>
&rarr;
double red cell donation
<br><br>
These types of donations are performed using a process called apheresis. An apheresis machine is connected to both of your arms. It collects a small amount of blood and separates the components before returning the unused components back to you. This cycle is repeated several times over approximately two hours.


Once your donation is complete, you’ll be given a snack and a drink and be able to sit and rest for 10 or 15 minutes before you leave. If you feel faint or nauseous, you’ll be able to lie down until you feel better.

</p>
</body>
</head>
</html>