<html>
<head>

<title> Information </title>


<style>
body{background-color:#000000 ;}
#nav li a{font-size:30px; color:#FFFFFF; text-decoration:none;}
h1 {color:#FFFFFF }
#nav a:hover{ color:#C4E9A3 ;
		}
</style

<body>
<center>
<h1> Inforamtion You Might Want to know </h1>

<div id =nav>

<li><a href="{% url 'hello' %}"> Q1) Why Should We Donate blood? </a></li>
<li><a href="{% url 'boom' %}"> Q2) What happens when i give blood?</a></li>
<li><a href="{% url 'rocket' %}"> Q3) Is giving blood safe? </a></li>
<li><a href="{% url 'control' %}"> Q4) Who Should Not give Blood? </a></li>
</div>	


</body>
</center>