<html>
<head>
	<title> dsj </title>
</head>
<style>
body{ background-color:#F2EFD3;}
p{ font-size:30px;}
</style>
<body>
<p>
Yes. Remember that you will only be accepted as a blood donor if you are fit and well. Your health and well-being are very important to the blood service. The needle and blood bag used to collect blood come in a sterile pack that cannot be reused, so the process is made as safe as possible.
<br><br>
 How much blood will be take ? will I have enough ?
<br><br>
In most countries, the volume of blood taken is 450 millilitres, less than 10 per cent of your total blood volume (the average adult has 4.5 to 5 litres of blood). In some countries, a smaller volume is taken. Your body will replace the lost fluid within about 36 hours.
<br><br>
Who can give blood , and how often?
<br><br>
The criteria for donor selection varies from country to country, but blood can be donated by most people who are healthy and do not have an infection that can be transmitted through their blood.
<br><br>
The age at which people are eligible to give blood varies, but is commonly between the ages of 17 and 65. Some countries accept donations from people from the age of 16 and extend the upper age limit beyond 65 years.
<br><br>
Healthy adults can give blood regularly – at least twice a year. Your local blood service can tell you how frequently you can give blood.

 
 
</p>
</body>
</html>